<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="usermame">Username</label>
    <input type="text" id="username" formControlName="username" class="form-control" [ngClass]="{'is-invalid': fields.username.errors && loginForm.dirty }" />
    <div *ngIf="fields.username.errors?.required && loginForm.dirty">Username requis</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': fields.password.errors && loginForm.dirty }" />
    <div *ngIf="fields.password.errors?.required && loginForm.dirty">Password requis</div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      Login
    </button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </div>
</form>
